*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald' , sans-serif;
}

/************************HEDER*****************************/

header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

#header-logo{
    height: 24px;
}

header a{
    color: white;
    margin-left: 24px;
}

header a:hover{
    color: white;
}

header a:visited{
    color: white;
}



/************************HERO SECTION*****************************/

.row {margin: 0;}

#hero-section {
    background-image: linear-gradient(to right, #36313782, #36313782),  url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-logo{
    width: 256px;
}

#arrow-down { 
    position: absolute;
    bottom: 64px;
    left: 0;
    right: 0;
    margin: 0  auto;
    display: block;
    width: 64px;
}

/************************INTRO SECTION*****************************/

#intro-section{
    background-color: #eae7de;
}